@font-face {
  font-family: "BankGothic Medium";
  src: url("../assets/fonts/bankGothic/bank gothic medium bt.ttf") format("truetype");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "BankGothic Medium";
}

body {
  background: url("./assets/img/body-back.jpg") repeat;
}

header {
  background-image: url(./assets/img/bg_menu.png);
  display: flex;
  border-bottom: 7px solid #ff5f01;
  padding: 0.5em;
}

header ul {
  list-style-type: none;
}

header div ul {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

header ul li img {
  height: 17px;
  width: 22px;
  cursor: pointer;
}

header nav {
  color: white;
  margin: 0 auto;
  display: flex;
  font-size: 18px;
}

header nav img {
  height: 64px;
  width: 216px;
  margin-right: 2em;
}

header nav div {
  display: flex;
  gap: 0.3em;
}

header nav div p {
  font-size: 19px;
  margin-left: -0.5em;
}

header nav div span {
  color: #ff5f01;
  font-weight: bold;
  cursor: pointer;
  height: 1em;
}

header nav ul {
  display: flex;
  gap: 2em;
  margin-left: -0.5em;
}

header nav ul li {
  display: flex;
  align-items: center;
}

header nav ul li:first-child::before {
  content: "– ";
  color: #ff5f01;
  margin-right: 0.4em;
  font-size: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

.reservas {
  color: white;
  text-decoration: none;
  background-color: #ff5f01;
  padding: 0.5rem;
}

.main-container {
  height: 80vh;
  position: relative;
  background-image: url(./assets/img/home.png);
  background-size: cover;
  overflow: hidden;
}


.reservas-container {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0em;
}

.reservas-container .reservas-container-boton {
  text-align: center;
  align-items: center;
  display: flex;
  gap: 1.85em;
}

.reservas-container .reservas-container-texto {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.reservas-container a {
  text-decoration: none;
  font-size: 35px;
  color: white;
  background-color: #ff5f01;
  padding: 0.235em 5.5em;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
}

.reservas-container p:first-of-type {
  color: #ff5f01;
  letter-spacing: 1px;
  font-size: 32px;
  margin: 0;
  text-transform: uppercase;
}

.reservas-container p:nth-of-type(2) {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}

.reservas-container p:last-of-type {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5px;
}

/*////////TERMINOS Y CONDICIONES////////AVISO LEGAL/////////////PRIVACIDAD/////////////////*/

.main-terminos,
.main-aviso-legal,
.main-privacidad {
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 340px;
  width: 65%;
  padding-bottom: 10%;
}

.main-terminos h2,
.main-aviso-legal h2,
.main-privacidad h2 {
  color: #ff5f01;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.main-terminos h3,
.main-aviso-legal h3,
.main-privacidad h3 {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.main-terminos p,
.main-aviso-legal p,
.main-privacidad p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 40px;
  text-align: justify;
  line-height: 1.5;
}

/*////////////////////////////COLABOREMOS////////////////////////////*/
.body-colaboremos {
  background-image: url(assets/img/bg_colaboremos.jpg);
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.carrusel-1 {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  background-color: #ff5f01;
}

.contenedor-1 {
  display: flex;
  width: 300%;
  height: 100%;
  animation: deslizar 30s infinite;
}

@keyframes deslizar {

  0%,
  30% {
    transform: translateX(0);
  }

  33.33%,
  63.33% {
    transform: translateX(-33.33%);
  }

  66.66%,
  96.66% {
    transform: translateX(-66.67%);
  }

  100% {
    transform: translateX(0);
  }
}

.contenedor-1 img {
  background-size: cover;
  width: 100%;
  object-fit: cover;
}

.colaboremos {
  margin: 3% 5%;
}

.colaboremos h1 {
  font-size: 40px;
}

.colaboremos h1,
h2,
h3 {
  color: #ff5f01;
}

.colaboremos p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.colaboremos button,
.colaboremos a {
  background-color: #ff5f01;
  border: none;
  width: 140px;
  height: 40px;
  color: white;
  text-decoration: none;
}

.colaboremos-contenedor-1 {
  display: flex;
  margin: 3% 20%;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colaboremos-contenedor-1 img {
  width: 45%;
}

#colaboremos-separador-1 {
  margin-left: 7%;
  margin-bottom: 0%;
  position: absolute;
  right: 0;
}

.colaboremos-contenedor-2 {
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 2%;
  font-size: 25px;
}

.contenedor-2-lista {
  display: flex;
  margin-left: 20%;
  gap: 200px;
  margin-bottom: 3%;
}

.contenedor-2-lista ul {
  padding: 2%;
  list-style: none;
}

.contenedor-2-lista li {
  margin-bottom: 6%;
}

.contenedor-2-lista li::before {
  content: "- ";
  color: black;
}

.contenedor-2-lista img {
  width: 35%;
}

.colaboremos-contenedor-3 {
  display: flex;
  margin: 3% 20%;
  justify-content: space-between;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colaboremos-separador-2 {
  margin-right: 7%;
  margin-bottom: 0%;
  position: absolute;
  left: 0;
}

.colaboremos-contenedor-4 {
  margin-top: 10%;
  margin-right: 17%;
  text-align: right;
  margin-bottom: 2%;
  font-size: 25px;
}

.colaboremos-contenedor-5 {
  display: flex;
  margin-right: 17%;
  margin-bottom: 3%;
  gap: 20px;
}

.colaboremos-contenedor-5 p {
  width: 60%;
}

.contenedor-5-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  width: 800px;
  height: 350px;
  overflow: hidden;

}

.contenedor-5-img img {
  transform: scale(0.6);
}

.contenedor-6 {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.contenedor-6-cuadrado {
  width: 280px;
  height: 150px;
  background-color: #343434;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

.contenedor-6-cuadrado h4 {
  padding-bottom: 5px;
  font-size: 30px;
}

.contenedor-6-cuadrado p {
  background-color: #343434;
  color: white;
  font-size: 15px;
}

.contenedor-6-flecha {
  margin-top: 3%;
  display: flex;
  margin-left: 17%;
}

.contenedor-6-flecha p {
  background-color: #343434;
  width: 950px;
}

.contenedor-6-boton {
  margin-top: 2%;
  margin-bottom: 3%;
  text-align: right;
  margin-right: 17%;
}

#colaboremos-separador-3 {
  margin-left: 7%;
  margin-bottom: 0%;
  position: absolute;
  right: 0;
}

.contenedor-7 {
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 2%;
  font-size: 25px;
}

.contenedor-7-conjunto {
  display: flex;
  margin-left: 25%;
}

.contenedor-7-conjunto img {
  width: 300px;
  margin-right: 11%;
}

.contenedor-7-conjunto p {
  justify-content: center;
  margin-right: 23%;
}

.contenedor-7-conjunto-boton {
  margin-right: 17%;
  text-align: right;
  margin-bottom: 3%;
}

#colaboremos-separador-4 {
  margin-right: 7%;
  margin-bottom: 0%;
  position: absolute;
  left: 0;
}

.contenedor-8 {
  margin-top: 10%;
  margin-right: 17%;
  text-align: right;
  margin-bottom: 2%;
  font-size: 25px;
}

.contenedor-8-conjunto {
  display: flex;
  margin-left: 10%;
  margin-top: 3%;
}

.contenedor-8-conjunto img {
  width: 600px;
  margin-right: 17%;
  margin-left: 2%;
}

.contenedor-8-conjunto p {
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 3%;
}

.contenedor-8-conjunto-boton {
  text-align: right;
}

.contenedor-final {
  text-align: center;
  font-size: 22px;
  margin: 7% 17%;
  margin-bottom: 4%;
}

.carrusel-2 {
  width: 60%;
  height: 120px;
  margin-bottom: 10%;
  margin-left: 20%;
  overflow: hidden;
  position: relative;
}

.contenedor-2 {
  display: flex;
  align-items: center;
  width: 100%;
  animation: deslizar-2 20s infinite;
}

.contenedor-2 img {
  width: 150px;
  margin: 5px 5px;
}

.slide-1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 23%;
  gap: 20px;
}

.slide-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 23%;
  gap: 20px;
}

.slide-3 {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  gap: 20px;
}

@keyframes deslizar-2 {

  0%,
  30% {
    transform: translateX(0);
  }

  33.33%,
  63.33% {
    transform: translateX(-90.33%);
  }

  66.66%,
  96.66% {
    transform: translateX(-180.67%);
  }

  100% {
    transform: translateX(0);
  }
}

/*////////////////////////////SERVICIOS////////////////////////////*/
.servicios {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 2em;
  gap: 3em;
}

.servicios-virus {
  width: 35.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2em;
}

.servicios-virus img {
  padding: 0.5em;
  border-top: 10px solid #ff5f01;
  border-right: 1px solid #ff5f01;
  border-bottom: 3px solid #ff5f01;
  border-left: 10px solid #ff5f01;
  border-radius: 20em;
  transform: scale(1.2);
}

.servicios-virus-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./assets/img/metal_izquierdo.png);
  background-size: cover;
  gap: 2em;
  height: 100%;
  padding: 4em 2em 1.5em 2em;
}

.virus-contenedor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.virus-contenedor-text p:first-of-type {
  color: #ff5f01;
  font-size: 24px;
}

.virus-contenedor-text :nth-child(2) {
  font-size: 28px;
}

.virus-contenedor-text :nth-child(3) {
  color: black;
  font-size: 16px;
  line-height: 24px;
}

.virus-contenedor-text :last-child {
  font-size: 20px;
  font-weight: 700;
}

.virus-contenedor-precio {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.virus-contenedor-precio span {
  color: #ff5f01;
}

.virus-contenedor-precio p {
  color: black;
  font-size: 16px;
}

.virus-contenedor-boton {
  text-decoration: none;
  color: #007bbf;
  background-color: #ff5f01;
  padding: 0.65em 0.5em;
  align-self: flex-end;
}

.servicios-keylock {
  width: 35.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 2em;
}

.servicios-keylock img {
  padding: 0.5em;
  border-top: 10px solid #ff5f01;
  border-right: 10px solid #ff5f01;
  border-bottom: 3px solid #ff5f01;
  border-left: 1px solid #ff5f01;
  border-radius: 20em;
  transform: scale(1.2);
}

.servicios-keylock-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./assets/img/metal_derecho.png);
  background-size: cover;
  gap: 2em;
  height: 100%;
  padding: 4em 2em 1.5em 2em;
}

.keylock-contenedor-boton {
  text-decoration: none;
  color: #007bbf;

  background-color: #ff5f01;
  padding: 0.65em 0.5em;
  align-self: flex-start;
}

/*////////////////////////////RETOS////////////////////////////*/
.retos {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 10em;
}

.retos img {
  width: 50%;
  margin: 0 auto;
}

.retos-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.retos-container-1 {
  width: 100%;
  display: flex;
}

/*////////////////////////////FOOTER////////////////////////////*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.footer-naranja {
  display: flex;
  background-image: url(assets/svg/bg_footer.png);
  padding: 20px 20px;
  justify-content: space-between;
  height: 80px;
}

.footer-naranja a,
p {
  color: white;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}

.footer-texto {
  display: flex;
  margin-top: 2em;
  align-items: center;
  align-self: center;
  width: 80%;
  justify-content: space-between;
}

.footer-texto a,
p {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.footer-iconos {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-naranja img {
  width: 70px;
}

.footer-negro {
  display: flex;
  background-color: black;
  gap: 70px;
  padding: 6px 6px;
}

.footer-negro a {
  text-decoration: none;
  color: white;
  margin-left: 80px;
}